*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
