*,
:after,
:before {
  box-sizing: border-box;
  color: #5c5b5a;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e4e4e4;
}

body {
  margin: 0;
  font-family: "Lato", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

input,
textarea {
  font-family: "Lato", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.h3-large {
  font-size: 21.5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
}

.content {
  padding-bottom: 168px;
}

@media (max-width: 900px) {
  .content {
    padding-bottom: 300px;
  }
}

.footer-wrapper {
  position: relative;
  min-height: 100vh;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

/* General class styles */
.primary-bg {
  background-color: #de472b;
}

.primary-color {
  color: #de472b;
}

.yellow-bg {
  background-color: #f9af42;
}

.green-bg {
  background-color: #00a69c;
}

.button {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  padding: 10px 12px;
  font-family: "Lato", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

.primary-btn {
  background-color: #de472b;
  color: #fff;
  transition: all 100ms;
}

.primary-btn:hover {
  background-color: #d1432a;
}

.green-btn {
  background-color: #00a69c;
  color: #fff;
  transition: all 100ms;
}

.green-btn:hover {
  background-color: #019b91;
}

.grey-btn {
  background-color: #e7e7e7;
  transition: all 100ms;
}

.grey-btn:hover {
  background-color: #dddddd;
}

.coolvetica {
  font-family: "Coolvetica";
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #9d9d9d;
}

.text-black {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.text-reg {
  font-weight: 400;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.margin-tb10 {
  margin: 10px 0 10px 0;
}

.margin-tb20 {
  margin: 20px 0 20px 0;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-b10 {
  margin-bottom: 10px;
}

.margin-b20 {
  margin-bottom: 20px;
}

/* Bring Website Media Queries */
/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* ------------------------ */
